name: Windows D3D12 Warp Clang

permissions:
  contents: read
  checks: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # run every 30 minutes

  pull_request:
    branches:
      - main

jobs:
  Windows-D3D12-Warp-Clang:
    uses: ./.github/workflows/test-all.yaml
    with:
      OS: windows
      SKU: windows-intel
      Test-Clang: On
      TestTarget: check-hlsl-clang-warp-d3d12
      OffloadTest-branch: ${{ github.event.pull_request.head.sha || github.ref }}
      LLVM-ExtraCMakeArgs: -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DOFFLOADTEST_USE_CLANG_TIDY=On
